* {
    box-sizing: border-box
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.msgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 84vh;
    width: 95vw;
    position: relative;
    left: 3.5vw;
    top: 2.5vh;
}

.key_div {
    width: 21vw;
    height: 42vh;
    position: relative;
}

.a_key {
    color: black;
    text-decoration: none;
}

.key {
    width: 100%;
    height: 80%;
    background: white;
    position: relative;
    word-break: break-word;
    white-space: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.key::-webkit-scrollbar-track {
 display:none;
}

.key::-webkit-scrollbar {
    width: 20px;
}

.key_name {
  text-align: center;
  font-family: 'Patua One', cursive;
  padding: 5px;
  margin: 0;
  font-size: 1.7em;
  border-bottom: 3px solid rgba(5, 225, 5);
}

.msg {
    height: 50%;
    margin: 1% 0 1% 0;
    padding: 0 0 2% 0;
    overflow-y: scroll;
}

.msg::-webkit-scrollbar {
    display: none;
}

.line:last-child {
  display: none;
  width: 1px;
  height: 1px;
  transform: scale(0.1);
}

.msg_header {
    list-style-type: none;
    width: 100%;
    display: inline-flex;
    margin: 0 0 3px 0;
    padding: 0;
    justify-content: space-between;
}

.msg_header li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.line {
    padding: 0;
    margin: 0;
}

.msg_box {
    width: 60vw;
    background-color: rgb(255, 255, 255);
    word-break: break-word;
    position: absolute;
    z-index: 5;
    top: 10vh;
    overflow: auto;
    box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, .3);
    border-radius: 0 5px 5px 5px;
    max-height: 70vh;
    height: auto;
    padding: 15px;
    -webkit-transition: all, 2s, ease-in;
    left: 20vw;
}

.msg_box::-webkit-scrollbar {
  display: none;
}

.msg_box_header {
    display: flex;
    justify-content: space-between;
}

.close_div {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.close {
    width: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.status_icon {
    height: 20px;
    cursor: pointer;
}

.status_icon:hover {
    transform: scale(1.08);
    transition: ease-in-out .5s;
}